<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>T-CORE </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="position:relative;text-align:center;z-index:600">
            <h1 class="display-4">T-CORE</h1>
            <p class="lead">A Test Code Refactoring Tool</p>
            <hr class="my-4">
        </div>
        <div class="container" style="position:relative;text-align:left;z-index:600">
            To verify whether test behaviour was preserved during a refactoring, upload the test code before and after the refactoring.
            You can then mark which test were involved in the refactoring, as well as any functions. T-CORE will analyse these tests and functions to determine if the refactoring was succesful.
        </div>
     </div>

     <div id="updates">
         {% with messages = get_flashed_messages() %}
           {% if messages %}
             {% for message in messages %}
               <div class="alert alert-danger" role="alert" >{{ message }} </div>
             {% endfor %}
           {% endif %}
         {% endwith %}
     </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {% if session['beforeinputfile'] %}
                    <label>Before refactoring:</label></br>
                    <h3>
                        <form method="post">
                            <span class="badge badge-secondary position-relative"> {{session['beforeinputfile']}} &emsp;
                                    <button type="submit" class="close" name="beforeinputfiledismiss">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </span>
                        </form>
                    </h3>
                    {% if session['beforetestsselected'] == 0 %}
                        <form method="post">
                            <div class="container mt-3 card">
                                {% for test in session['beforetests'] %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="before{{test}}" id="before{{test}}" checked>
                                        <label class="form-check-label" for="before{{test}}">
                                            {{ test }}
                                        </label>
                                </div>
                                {% endfor %}
                                <input class="btn btn-dark mt-3 mb-3" type="submit" value="confirm" name="beforetests">
                            </div>
                        </form>
                    {% else %}
                        <div class="container mt-3 card">
                            {% for test in session['beforetests'] %}
                                 {{ test }}</br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group position-relative">
                            <label for="beforeinputfile">Before refactoring:</label></br>
                            <input class="btn btn-secondary" type="file" name="beforeinputfile" class="form-control-file button-primary" id="beforeinputfile">
                            <input class="btn btn-dark" type="submit" value="upload" id="beforeinputfile">
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col">
                {% if session['afterinputfile'] %}
                    <label>After refactoring:</label></br>
                    <h3>
                        <form method="post">
                            <span class="badge badge-secondary position-relative"> {{session['afterinputfile']}}
                                <button type="submit" class="close" name="afterinputfiledismiss"> &emsp;
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </span>
                        </form>
                    </h3>
                    {% if session['aftertestsselected'] == 0 %}
                        <form method="post">
                            <div class="container mt-3 card">
                                {% for test in session['aftertests'] %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="after{{test}}" id="after{{test}}" checked>
                                        <label class="form-check-label" for="after{{test}}">
                                            {{ test }}
                                        </label>
                                </div>
                                {% endfor %}
                                <input class="btn btn-dark mt-3 mb-3" type="submit" value="confirm" name="aftertests">
                            </div>
                        </form>
                    {% else %}
                        <div class="container mt-3 card">
                            {% for test in session['aftertests'] %}
                                 {{ test }}</br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group position-relative">
                            <label for="afterinputfile">After refactoring:</label></br>
                            <input class="btn btn-secondary" type="file" name="afterinputfile" class="form-control-file button-primary" id="afterinputfile">
                            <input class="btn btn-dark" type="submit" value="upload" id="afterinputfile">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container mt-3" style="position:relative;text-align:center;z-index:600;">
        {% if session['beforetestsselected'] == 1 and session['aftertestsselected'] == 1 %}
            <hr class="my-4">
            {% if session['compareresult'] is defined %}
                {% if session['compareresult'] == 100 %}
                    <h1><span class="badge badge-success">Behaviour was preserved!</span></h1>
                {% else %}
                    <h1><span class="badge badge-danger">Behaviour was changed!</span></h1>
                    <p> Only {{session['compareresult']}} &#37; of assertions were preserved! </p>
                {% endif %}
                {% if session['comparereport'] is defined %}
                    {{ session['comparereport'] }}
                {% endif %}
            {% else %}
                <form method="post">
                    <button type="submit" class="btn btn-dark btn-lg" name="compare">Compare</button>
                </form>
            {% endif%}
        {% endif %}
    </div>

     <div class="container">
       <hr>
       <footer>
         <form method="post" class="float-right">
             <button type="submit" class="btn btn-link" name="reset">Reset</button>
         </form>
         <p>&copy; Ansymo - University of Antwerp 2018 </p>
       </footer>
     </div>

</body>
</html>
